.textContent {
  margin: 124px 0;
}
.textContent .innerTextContent {
}
.textContent .innerTextContent p {
  text-align: left;
}

@media (max-width: 1440px) {
  .textContent {
    margin: 104px 0;
  }
}

@media (max-width: 768px) {
  .textContent {
    margin: 72px 0;
  }
}
