.uploadAPhoto {
  margin: 55px 0 125px;
}
.uploadAPhoto h6 {
  margin-bottom: 5px;
  font-size: 26px;

  font-family: 'Circe Bold';
  color: #000;
  text-align: left;
}
.uploadAPhoto p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.uploadAPhoto .innerUploadAPhoto {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
}
.uploadAPhoto .innerUploadAPhoto label.groupBtn input {
  display: none;
}
.uploadAPhoto .innerUploadAPhoto label.groupBtn span {
  display: block;
  padding: 54px 45px;
  color: #0050cf;
  border: 1px dashed #0050cf;
  border-radius: 4px;

  font-family: 'Circe Bold';
  font-size: 18px;
  cursor: pointer;
}
.uploadAPhoto .innerUploadAPhoto ul.item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  list-style: none;

  padding: 0;
  margin: 0;
}
.uploadAPhoto .innerUploadAPhoto ul.item li {
  margin: 0 7.5px;
  margin-bottom: 15px;
  position: relative;
  height: 135px;
  width: 235px;
  /* overflow: hidden; */
}
/* .uploadAPhoto .innerUploadAPhoto ul.item li:first-child {
  margin-left: 0;
} */
/* .uploadAPhoto .innerUploadAPhoto ul.item li:first-child, */
/* .uploadAPhoto .innerUploadAPhoto ul.item li:nth-child(5n + 1) {
  margin-left: 0;
} */

.uploadAPhoto .innerUploadAPhoto ul.item li:last-child {
  margin-right: 0;
}
.uploadAPhoto .innerUploadAPhoto ul.item li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.uploadAPhoto .innerUploadAPhoto ul.item .drop {
  position: absolute;
  top: 0;
  right: 0;
}
.uploadAPhoto .innerUploadAPhoto ul.item .drop ul li {
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}
.uploadAPhoto .innerUploadAPhoto ul.item .drop ul li:last-child {
  border: 0;
}
.uploadAPhoto
  .innerUploadAPhoto
  ul.item
  .drop
  button[class='rs-btn-icon rs-btn-icon-placement-left rs-btn rs-btn-primary'] {
  background-color: transparent;
}

.uploadAPhoto .innerUploadAPhoto button.goToModern {
  /* display: block; */
  padding: 15px 25px;
  color: #fff;
  border: 1px solid #0050cf;
  background-color: #0050cf;
  border-radius: 4px;

  font-family: 'Circe Bold';
  font-size: 16px;
  margin-top: 65px;
  /* text-align: left; */
}
