.navigation {
  background: #fff;
  border: 1px solid #edeff3;
}
.navigation .innerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}
.navigation .innerNavigation .rs-btn {
  background-color: #66c314;
}
.navigation .innerNavigation .logo {
  cursor: pointer;
}
.navigation .innerNavigation .logo img {
  width: 100%;
  max-width: 225px;
}
.navigation .innerNavigation .groupBtn {
  display: flex;
  align-items: center;
}

.navigation .innerNavigation button.entrance {
  padding: 14px 25px;
  background-color: #004dd5;
  border-radius: 4px;
  color: #fff;
  font-family: 'Circe Bold';
  margin-right: 47px;
}
.navigation .innerNavigation .btnGrp {
  display: flex;
}

@media (max-width: 1440px) {
  .navigation
    .innerNavigation
    div[class='rs-input-group rs-input-group-inside'] {
    display: none;
  }
}

@media (max-width: 768px) {
  /* .navigation
    .innerNavigation
    div[class='rs-input-group rs-input-group-inside'] {
    display: none;
  } */
  .navigation .innerNavigation button.entrance {
    display: none;
  }
}
@media (max-width: 375px) {
  .navigation .innerNavigation button.entrance {
    display: none;
  }
  .navigation .innerNavigation .logo img {
    width: 100%;
    max-width: 167px;
  }
  .navigation .innerNavigation {
    flex-wrap: nowrap;
  }
}
