/* .myRates {
} */
/* .myRates .innerMain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */
/* .myRates .innermyRates .left {
  width: 100%;
  max-width: 320px;
  margin-right: 40px;
}
.myRates .innermyRates .right {
  width: 100%;
} */
