/* Глоб. стили для модальных */
@import './components/LogIn/LogIn.module.css';
@import './components/SignUp/SignUp.module.css';
@import './components/Calculator/Calculator.module.css';
@import './components/ProductCard/components/PhotoBlock/components/ModalShowPhotoFull/ModalShowPhotoFull.module.css';
@import './components/ProductCard/components/PhotoBlock/components/ModalShowPhoto/ModalShowPhoto.module.css';

/*  */
@import './components/ProductCard/components/DataAuto/components/TooltipBlock/TooltipBlock.module.css';

/*  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
